@tailwind base;
@tailwind components;
@tailwind utilities;


.custom-scrollbar::-webkit-scrollbar{
    height:8px !important;
    width:8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb{
    background-color:  #ffffff3b;
}

.hide-scrollbar::-webkit-scrollbar {
    width: 0.5rem; /* Adjust the width as needed */
  }
  
  .hide-scrollbar::-webkit-scrollbar-thumb {
    background-color: transparent;
  }